:root{
    /* ### Primary */

    --Blue-500: hsl(215, 51%, 70%);
    --Cyan-400: hsl(178, 100%, 50%);

    /* ### Neutral */

    /* (main-BG) */
    --Blue-950: hsl(217, 54%, 11%);

    /* (card BG) */
    --Blue-900: hsl(216, 50%, 16%);
    /* line */
    --Blue-800: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
}

.main{
    background-color: var(--Blue-950);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    place-items: center;
    margin: 0 auto;
}

.main-contenedor{
    width: 90%;
    max-width: 280px;
    background-color: var(--Blue-900);
    padding: 1.5rem;
    border-radius: 1.5rem;
    align-items: center;

}

/*===================IMAGEN===================*/


.contenido-imagen{
    /* width: 100%;
    height: 100%; */
    position: relative;

}

.imagen-equilibrium{
    width: 100%;
    display: block;
    border-radius: 1.0rem;
}

.overlay{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(178, 100%, 50%, 0.5);
    border-radius: 1.0rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms visibility 200ms ease;
}


.contenido-imagen:hover .overlay{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

/* ============================================= */

.titulo .texto-titulo{
    color: var(--White);
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1.0rem;
}

.texto-titulo:hover, .creador span:hover {

    color: var(--Cyan-400);
    cursor: pointer;
}

.texto-parrafo{
    color: var(--Blue-500);
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.precio-tiempo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.precio, .tiempo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size:  1.4rem;
    
}

.precio span{
    color: var(--Cyan-400);
    font-weight: 700;  
}

.tiempo span{
    color: var(--Blue-500);
}

.linea{
    width: 95%;
    height: 1px;
    background-color: var(--Blue-800);
    margin: 1.5rem 0;
}

.creador{
    display: flex;
    align-items: center;
}

.contenido .avatar{
    width: 2.5rem;
    border: 1px solid var(--White);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1rem;
}

.creador p{
    color: var(--Blue-500);
    font-size: 1.4rem;
}

.creador span{
    color: var(--White);
}

.footer{
    text-align: center;
    color: var(--Blue-500);
    font-size: 1.2rem;
    margin-top: 2rem;
}

@media (max-width: 375px){
    .main-contenedor{
        max-width: 337px;
        padding: 2.5rem;
    }

    .titulo .texto-titulo{
        font-size: 2.1rem;
    }

    .texto-parrafo{
        font-size: 1.6rem;
    }

    .precio, .tiempo{
        font-size: 1.8rem;
    }

    .contenido .avatar{
        width: 4.5rem;
    }

    .creador p{
        font-size: 1.6rem;
    }

  
   
}


}

