:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

html {
  font-size: 62.5%; /* 1.6rem = 16px */
}

body {
  font-size: 1.6rem; /*x10*/
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    background-color: var(--Yellow);
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.card-container{
    width: 90%;
    max-width: 350px;
    background-color: var(--White);
    border-radius: 1.5rem;
    box-shadow: 0.9rem 1rem 0rem 0px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1.5rem;
    border: 0.1rem solid black;
}

.image-figure{
    width: 100%;
    height: 100%; 
}

.image-card{
    width: 100%;
    /* height: 100%; */
    border-radius: 1.0rem;
    display: block;  
}

.tags{
    margin: 1.5rem 0;
}

.tags-item--modified{
    display: inline-block;
    background: var(--Yellow);
    padding: 0.5rem 1.0rem;
    border-radius: 0.5rem;
    font-weight: 800;
    margin-bottom: 1.0rem;
    color: var(--Gray-950);
}

.text-title{
    font-size: 2.3rem;
    font-weight: 800;
}

.text-paragraph{
    margin: 1.2rem 0;
    color: var(--Gray-500);
}

.author-info{
    display: flex;
    align-items: center;
    gap: 0.9rem;
}
.author-img{
    width: 3.0rem;
    height: 3.0rem;
    border-radius: 50%;
}

.author-name{
    font-weight: 800;
    font-size: 1.4rem;
}


@media (max-width: 375px) {
    
    .card-container{
        max-width: 32rem;
        height: 460px;
        justify-content: space-evenly;
        padding: 0 1.5rem;
    }
    
    .image-figure{
        height: auto;
    }

    .tags{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .tags-item{
        font-size: 1.2rem;
    }

    .text-title{
        font-size: 2.0rem;
    }

    .text-paragraph{
        font-size: 1.3rem;
    }
}
